.logo {
	margin: 0;
	padding: 0;
	max-width: 20%;
	float: left;
}

* {
	background-color: transparent;
}

.logo > img {
	margin: 0;
	padding: 0;
	opacity: 1;
}

.caascade-header {
	margin: 0;
  	padding: 0;
  	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
  	overflow: auto;
  	background: linear-gradient(to right,  #ffffff 0%, #ffffff 25%, #41416d 45%,  #41416d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.caascade-navbar a {
	float: right;
}

.caascade-navbar > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.caascade-navbar li {
	display: inline;
}

.navbar-item {
	margin: 0;
	overflow: auto;
	padding: 16px 24px;
	font-weight: bold;
	color: white;
	background-color: #41416d;
    text-align: center;
	text-decoration: none;
}

.navbar-item:link, .navbar-item:visited {
	color: white;
	text-decoration: none;
}

.navbar-item:active, .navbar-item:hover {
	background-color: white;
	color: #41416d;
	text-decoration: none;
}

.main-section {
	margin-top: 12px;
	overflow: auto;
	background-color: #f3f3f3;
	padding: 3%;
}

.main-section-button {
	border-radius: 3px;
	float: left;
	margin-left: 15%;
    background-color: #41416d; /* Green */
    border: none;
	color: white;
    text-align: center;
	text-decoration: none;
    font-size: 16px;
	font-weight: bold;
    padding: 8px 48px;
	cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.main-section-label {
	float: left;
	margin-top: 15px;
	margin-left: 15%;
	max-width: 288px;
	color: #41416d;
	font-size: 14px;
	text-align: center;
	margin-bottom: 15px;
}

.tabbed-section {
	clear: both;
	overflow: auto;
	margin-right: 0;
	overflow: auto;
}

.tab-bar {
	overflow: auto;
    box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.5);
	margin-bottom: 3px;
}

.tab-bar > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 12px;
	overflow: auto;
}

.tab-bar li {
	float: left;
	padding: 8px 24px;
	font-weight: bold;
	margin-left: 1px;
	margin-right: 1px;
	color: black;
	background-color: #dbdbdb;
  text-align: center;
	text-decoration: none;
	border-right: 1px solid;
	border-color: white;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
  cursor: pointer;
}

.tab-bar li:hover {
	background-color: white;
	border-right: 1px solid;
	color: #003d99;
}

.app-catalog {
	background-color: white;
	margin: 0;
	padding: 0;
	height: 500px;
	overflow: auto;
    box-shadow: 3px 8px 3px -3px rgba(0, 0, 0, 0.2);
	margin-bottom: 3px;
	z-index: -1;
}

.app-card {
	float: left;
    box-shadow: 8px 8px 8px -3px rgba(0, 0, 0, 0.2);
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-right: 15px;
	padding: 0;
	padding-right: 0;
	overflow: hidden;
	border: 1px solid #aeb1b7;
	max-width: 200px;
	max-height: 320px;
}

.app-card-desc {
	font-weight: bold;
	margin: auto;
	margin-left: 30%;
	margin-bottom: 5%;
	text-align: left;
}

.app-card:hover {
	border: 1px solid;
}

.app-card img {
	display: inline;
	object-fit: contain;
	width: 180px;
	height: 240px;
	margin-left: 10px;
	margin-right: 5px;
	margin-top:
}

.launch-button {
	border-radius: 3px;
	float: right;
	margin-top: 10px;
	margin-right: 3px;
	margin-bottom: 3px;
    background-color: #41416d;
    border: none;
	color: white;
    text-align: center;
	text-decoration: none;
    font-size: 16px;
	font-weight: bold;
    padding: 8px 48px;
	cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.footer {
	overflow: auto;
	height: 50px;
	background-color: #949aa3;
	margin-top: 10px;
	margin-bottom: 10px;
}

.footer-version {
	color: white;
	text-align: center;
	float: left;
	font-size: 15px;
	margin-top: 15px;
	margin-left: 10px;
}
